body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	width: 530px;
	margin-left: 10px;
}

p {
	font-size: 9pt; 
	margin-left: 10px;
	font-family: Arial, Helvetica, sans-serif;
	color: #333333;
}

h1 {
	font-size: 14pt;
	font-weight: bold;
	margin-left: 10px;
	font-family: Arial, Helvetica, sans-serif;
	color: #0066CC;
}

h2 {
	font-size: 12pt;
	font-weight: bold;
	margin-left: 10px;
	font-family: Arial, Helvetica, sans-serif;
	color: #0066CC;
}

h3 {
	font-size: 10pt;
	font-weight: bold;
	margin-left: 10px;
	font-family: Arial, Helvetica, sans-serif;
	color: #0066CC;
}

h4 {
	font-size: 9pt;
	font-weight: bold;
	margin-left: 10px;
	font-family: Arial, Helvetica, sans-serif;
	color: #0066CC;
}

pre {
	line-height: normal;
	color: #0A0A8C;
	font-family: "Courier New", Courier, mono;
	font-size: 9pt;
	margin-left: 10px;
	background-color: #EEEEEE;
	padding-left: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 20px;
}

table {
	border: 0px;
}

table.body {
	border: 0px;
	border-width: 0px;
	min-width: 700px;
	width: 700px;
}

td.title {
	margin-left: 5px;
	background-color: #2C5EA4;
	font-weight: bold;
	white-space: nowrap;
	color: #FFFFFF;
}

td.subtitle {
	background-color: #3C6EB4;
	font-style: italic;
	color: #FFFFFF;
}

td.head {
	width: 40%;
	font-size: 9pt; 
	font-family: Arial, Helvetica, sans-serif;
	background-color: #E8F8FF;
	white-space: nowrap;
	color: #333333;
}

th {
	font-size: 9pt; 
	font-family: Arial, Helvetica, sans-serif;
	background-color: #E8F8FF;
	white-space: nowrap;
	color: #333333;
}

td.value {
	vertical-align: middle;
}

td.head1 {
	width: 20%;
	font-size: 9pt; 
	font-family: Arial, Helvetica, sans-serif;
	background-color: #FFF8E8;
	white-space: nowrap;
	color: #333333;
}

td.head2 {
	width: 25%;
	font-size: 9pt; 
	font-family: Arial, Helvetica, sans-serif;
	background-color: #E8F8FF;
	white-space: nowrap;
	color: #333333;
}

td.head_filter {
	width: 5%;
	font-size: 9pt; 
	font-family: Arial, Helvetica, sans-serif;
	background-color: #E8F8FF;
	color: #333333;
}

td.port_status {
	background-position: center center;
	background-repeat: no-repeat;
	height: 24px;
	width: 15%;
	text-align: center;
	vertical-align: middle;
	cursor: default;
}

td {
	font-size: 9pt; 
	font-family: Arial, Helvetica, sans-serif;
	color: #333333;
}

table.buttons {
	min-width: 700px;
	width: 700px;
}

table.buttons tr, table.buttons td {
	text-align: left;
}

table.form {
	min-width: 700px;
	width: 700px;

	border-width: 1px;
	border-style: solid;
	border-spacing: 1px;
	padding: 1px;
	border-color: #9BABBD;
	margin-bottom: 4px;
}

table.form th {
	font-size: 9pt; 
	font-family: Arial, Helvetica, sans-serif;
	background-color: #E8F8FF;
	white-space: nowrap;
	color: #333333;
	
	padding: 3px;
	border-width: 1px;
	border-style: solid;
	border-spacing: 1px;
	border-color: #9BABBD;
}

table.form td {
	white-space: nowrap;
	font-size: 9pt; 

	padding: 3px;
	border-width: 1px;
	border-style: solid;
	border-spacing: 1px;
	border-color: #9BABBD;
}

table.form td.head {
	width: 192px;
	font-size: 9pt; 
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	background-color: #E8F8FF;
	white-space: nowrap;
	color: #333333;
	
	padding: 3px;
	border-width: 1px;
	border-style: solid;
	border-spacing: 1px;
	border-color: #9BABBD;
}

table.form td.title {
	margin-left: 5px;
	background-color: #2C5EA4;
	border-color: #2C5EA4;
	font-weight: bold;
	white-space: nowrap;
	color: #FFFFFF;
	font-size: 10pt;

	padding: 3px;
	border-width: 1px;
	border-style: solid;
	border-spacing: 1px;
	border-color: #9BABBD;
}

table.small {
	font-size: 10pt;
	font-family: Arial, Helvetica, sans-serif;
	color: #333333;
	text-align: center;
}

table.small th {
	background-color: #2C5EA4;
	color: #FFFFFF;
	font-weight: bold;
}

table.small td {
	background-color: #E8F8FF;
}

td.subtitle {
	background-color: #3C6EB4;
	font-style: italic;
	color: #FFFFFF;
}

form {
	margin-bottom: 0px;
	margin-top: 0px;
}

div.whitespace {
	margin-bottom: 128px;
}

ol {
	margin-left: 40px; color: #333333; font-family: Arial, Helvetica, sans-serif; font-size: 9pt;
}

ul {
	font-size: 9pt; ; margin-left: 30px; font-family: Arial, Helvetica, sans-serif; color: #333333;
}

acronym
{
	border-bottom: 0px;
}

div.tab, div.tab_sel
{
	float: left;
	margin: 5px 5px -1px 0px;
	padding: 4px 8px 4px 8px;
	font-weight: bold;
	color: #0066cc;
	background-color: #ffffff;
	border: 1px solid #0066cc;
	cursor: pointer;

	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	-webkit-border-radius-topleft: 4px;
	-webkit-border-radius-topright: 4px;
}

div.tab_sel
{
	color: #ffffff;
	background-color: #0066cc;
}

div.tab_control
{
	margin-top: 5px;
	margin-bottom: 5px;
	border-bottom: 1px solid #0066cc;
	float: left;
	width: 100%;
}